.feedback-form {
    max-width: 360px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.form-lable {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    color: #2E2F42;
}

.form-lable span {
    display: flex;
    align-items: flex-start;
}

.form-input {
    padding: 8px 16px;
    font-size: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    resize: none;
    outline: none;
}

.form-input:hover {
    border-color: #000000;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95px;
    height: 40px;
    padding: 8px 16px;
    font-size: 16px;
    color: #ffffff;
    background-color: #4E75FF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}

.form-btn:hover {
    background-color: #6C8CFF;
}